header{
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-bottom: 120px;

}

header img{
    width: 120px;
    height: auto;
}

header nav{
    display: flex;
    align-items: center;
    column-gap: 40px;
}

header nav n{
    font-size: 220px;
    text-decoration: none;
    font-weight: 300;
    letter-spacing: 1px;
}